@require '../mixins'

.page-index
    height: 100%
    min-height: 100%
    padding-top: r(140)
    display: flex
    flex-direction: column
    align-items: center

    .img-logo
        width: r(360)

    .title
        margin: 0
        padding-top: r(10)
        color: #5a5a5a
        font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif
        font-size: r(70)
        font-weight: 200
        text-align: center

    .btn-box
        padding-top: r(300)

    .btn
        height: r(100)
        line-height: r(100)
        padding-left: 2em
        padding-right: 2em
        background-color: #00d8ff
        border: 1px solid transparent
        text-align: center
        display: inline-block
        border-radius: r(50)
        color: #fff
        font-size: r(40)
