@require '../mixins'
img
    max-width 100%
    max-height 100%
.marginR76
    margin-right r(76)
.marginR150
    margin-right r(150)
.leftCompany
    line-height r(24)
    color rgba(102,102,102,0.7)
    font-size r(24)
    margin-top r(10)
.hide
    display: none
.page-index
    height: 100%
    min-height: 100%
    display: flex
    flex-direction: column
    align-items: center
    background-color rgb(255,255,255)
    .img-wrapper
        width:100%
        img
            width:100%
         .fixedBottom
             position: fixed
             left: 0
             bottom: 0
    .fixedBanner
        width 100%
        height: r(90)
        padding: r(15) r(0) r(15) r(30)
        position fixed
        top 0
        left 0
        background-color rgba(255,255,255,1)
        display flex
        .headerLeftPic
            width r(60)
            height r(60)
            border-radius 50%
            overflow hidden
            margin-right r(25)
        .salesName
            margin-right r(224)
         .leftName
             line-height r(26)
             color #333333
             font-size r(26)
             font-family: PingFangSC-Medium;
         .nameCard
             display flex
             flex-direction column
             justify-content center
             align-items center
            .nameCardIcon
                width r(35)
                height r(28)
                img
                    vertical-align super
             .appointIcon
                 width r(30)
                 height r(29)
                 img
                     vertical-align super
             .cardSpan
                 line-height r(24)
                 color #999999
                 font-size r(24)
                 margin-top r(8)
                 a
                     color #999999

.bg666
    background-color #999999
.bgFixedBtn
    background-color  #CDA76E
.display-inline-block
    display inline-block
.paddingLeft32
     padding-left r(32)
.paddingRight32
    padding-right r(32)
.marginTop32
    margin-top r(32)
.articleHeader
    line-height r(67)
    font-size r(48)
    color #33343B
    font-weight bold
.articleTime
    color #999EAC
    font-size r(24)
    line-height r(33)
    margin-top r(24)
.articleMark
    margin-top r(40)
    padding r(24)
    background-color #F7F8FA
    font-size r(28)
    color #666A76
    line-height r(48)

.articleInfo
    margin 0
    padding 0
    font-size r(30)
    line-height 1.6
    color #33343B
    margin-top r(28)
    >p
        margin-top 1em
.pt90
    padding-top r(90)
.noDuty
    margin-top r(60)
    color #999EAC
    font-size r(24)
    line-height r(40)
.richTextShadow
    box-shadow 0 r(1) r(5) rgba(178, 178, 178, 0.3)
.shadow
    position fixed
    left 0
    right 0
    bottom 0
    top 0
    background-color: rgba(0,0,0,0.6);
    z-index 99
    text-align center;
 .hide
     display none
 .show
     display block
 .img-wrapper
    img
     margin-top -1px
  .widthMax100
      max-width 100%
